<div class="todo-list">
    <div class="todo-header">
      <h1>My To-Do List</h1>
    </div>
    <div class="todo-body">
      <ul>
        <li>
          <label for="item1">
            <input type="checkbox" id="item1" name="item1"/>
            Do the Laundry
          </label>
          <button class="btn-warning">Delete Item</button>
        </li>
        <li>
          <label for="item2">
            <input type="checkbox" id="item2" name="item2"/>
            Feed the Dog
          </label>
          <button class="btn-warning">Delete Item</button>
        </li>
        <li>
          <label for="item3">
            <input type="checkbox" id="item3" name="item3"/>
            Finish Styling my To-Do List
          </label>
          <button class="btn-warning">Delete Item</button>
        </li>
      </ul>
    </div>
    <div class="todo-footer">
      <input type="text" placeholder="New item" />
      <button class="btn-primary" type="submit">Add Item</button>
    </div>
  </div>

  <!-- card -->
  <div class="contact-card">
    <div class="contact-header">
      <h1>My Contact Card</h1>
    </div>
    <div class="contact-body">
      <div class="contact-photo">
        <img src="https://api.adorable.io/avatars/285/dave@learntoprogram.tv.png" alt="Contact Card Photo"/>
      </div>
      <div class="contact-details">
        <h1>Name: Dave Moran</h1>
        <h2>Phone: (555) 867-5309</h2>
        <h3>Email: dave@learntoprogram.tv</h3>
      </div>
    </div>
    <div class="contact-footer">
      <button >Send Email</button>
    </div>
  </div>
