body{
    // color:$text-color;
    max-width: 100%;
    margin: 0 auto;
    font-family: $helvetica;
    
    
}




/* #sidebar{
    background-color: $primary;
    height: 100hv;
}

#main{
    height: 100hv;
}
 */

