<div id="wrapper-login">
<div id="login">


<form #loginForm="ngForm" method="post" (ngSubmit)="login(loginForm)">
    <div class="mb-3">
     
      <input name="email" [(ngModel)]="email" type="email" placeholder="email" class="form-control" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      
      <input name="password" [(ngModel)]="password"  type="password" class="form-control" id="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button value="Login" type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

</div>
