.btn{
    min-width: 100px;
    padding: 10px;
    font-size: 12px;
    background-color: white;
    @include border-radius(5px);
    border: 1px solid #333
  }

.btn-warning{
    @extend .btn;
    
    border-color: red;
    color: red;

    &:hover,
    &:focus{
        background-color: red;
        border: white;
        color: white;
    }
}

.btn-primary{
    @extend .btn;
    
    color: blue;
    border-color:blue;

    &:focus,
    &:hover{
        background-color: blue;
        color: white;
        border: white;
    }
}